<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DownloadTaskWithNSURLSession.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4D59CF61BEAB71100F3B8C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D59D0A1BEAB71100F3B8C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4D59D151BEAB71100F3B8C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
